%script{type: 'text/ng-template', id: 'registration.html'}
	%h1.text-center.weak
		Create an account
	%h2.text-center.h4.text-transparent
		Start a free 30 day trial. No credit card required.
	.row.form-container
		%form
			.col-xs-6.form-group
				%label.required First name
				%input.form-control{type: :text, placeholder: 'John'}
			.col-xs-6.form-group
				%label.required Last name
				%input.form-control{type: :text, placeholder: 'Doe'}
			.col-xs-12.form-group
				%label.required Email
				%input.form-control{type: :email, placeholder: 'john@example.com'}
			.col-xs-12.form-group
				%label.required Password
				%input.form-control{type: :password, data: {tooltip: 'At least 5 chars', tooltip_trigger: 'focus'}}
			.col-xs-12
				%button.btn.btn-green.btn-lg.btn-block{type: :button}
					Create your account