%script{type: 'text/ng-template', id: 'home.html'}
	%ul
		%li
			%a{data: {ui_sref: 'pricing'}} Pricing
	.row
		.col-xs-12.col-md-6.col-md-offset-3.text-center
			%h1.home-title.weak Project Management
			%h2.h4.text-transparent Start managing your projects better with application
			%a.btn.btn-md.btn-sleek.btn-rounded{data: {ui_sref: 'registration'}}
				Sign up now »

		