%script{type: 'text/ng-template', id: 'pricing.html'}
	%h1.home-title.text-center.weak Pricing
	#pricing.row
		.col-sm-4.col-sm-offset-4
			.package
				.inner
					.price
						.text-center.h2
							$49
						.text-center
							per month
					%ul.features
						%li 5 users	
						%li Unlimited
						%li API
					.call-to-action.text-center
						%a.btn.btn-sleek.btn-rounded{data: {ui_sref: 'registration'}}
							Sign up now

	