// Fonts
$lato: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Colors
$primary-blue: #3598E8;
$primary-green: #5BB84F;

// Buttons
$btn-border-radius: 2px;

// Inputs
$form-control-border-radius: 2px;
$form-control-font-size: 15px;
$form-control-height: 40px;

// Tooltips
$tooltip-font-size: 13px;